.gameImg{
    cursor: pointer;
}
.gameImg:hover{
    box-shadow:5px 8px 60px rgba(6, 6, 230, 0.8);
}
.hiddenItem{
    display: none !important;
}
.customerChoiceImg{
    box-shadow:5px 8px 60px rgba(6, 6, 230, 0.8);
}
.botChoiceImg{
    box-shadow:5px 8px 60px rgba(204, 12, 12,0.8);
}